.footer {
  background-color: #00445f; /* Example: Background color for the footer */
  padding: 20px;
  color: #fff; /* Default text color for all elements */
}

.contactInfo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 20px; /* Gap between each infoBox */
}

.infoBox {
  background-color: #1a4d77;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* White icon color */
}

.text {
  font-weight: bold;
  color: #fff; /* White text */
  margin-bottom: 5px;
}

.detail {
  font-size: 14px;
  color: #fff; /* White text */
}

.logoDescriptionBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  height: 50px; /* Adjust as needed */
  margin-right: 20px;
  background-color: white;

}

.description {
  color: #fff; /* White text for the description */
  font-size: 14px;
  flex: 1; /* Ensure the description takes up available space */
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
}

.copyright {
  color: #fff; /* White text for copyright */
  font-size: 12px;
}